version: '3.8'

services:
  web:
    build: .
    container_name: sqli_web
    ports:
      - "8080:80"
    volumes:
      - ./public:/var/www/html
      - ./includes:/var/www/includes
      - ./init:/var/www/init
    depends_on:
      - mysql
      - postgresql
      - mssql
      - oracle
    networks:
      - sqli_network
    environment:
      - DB_MYSQL_HOST=mysql
      - DB_MYSQL_USER=sqli_user
      - DB_MYSQL_PASS=sqli_pass123
      - DB_MYSQL_NAME=sqli_db
      - DB_PGSQL_HOST=postgresql
      - DB_PGSQL_USER=sqli_user
      - DB_PGSQL_PASS=sqli_pass123
      - DB_PGSQL_NAME=sqli_db
      - DB_MSSQL_HOST=mssql
      - DB_MSSQL_USER=sa
      - DB_MSSQL_PASS=SqliPass123!
      - DB_MSSQL_NAME=sqli_db
      - DB_ORACLE_HOST=oracle
      - DB_ORACLE_USER=sqli_user
      - DB_ORACLE_PASS=sqli_pass123
      - DB_ORACLE_SID=XEPDB1

  mysql:
    image: mysql:8.0
    container_name: sqli_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: sqli_db
      MYSQL_USER: sqli_user
      MYSQL_PASSWORD: sqli_pass123
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init/mysql.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - sqli_network
    ports:
      - "3306:3306"

  postgresql:
    image: postgres:15
    container_name: sqli_postgresql
    environment:
      POSTGRES_DB: sqli_db
      POSTGRES_USER: sqli_user
      POSTGRES_PASSWORD: sqli_pass123
    volumes:
      - postgresql_data:/var/lib/postgresql/data
      - ./init/postgresql.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - sqli_network
    ports:
      - "5432:5432"

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqli_mssql
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: SqliPass123!
      MSSQL_PID: Express
    volumes:
      - mssql_data:/var/opt/mssql
      - ./init/mssql.sql:/init.sql
    command: 
      - /bin/bash
      - -c
      - |
        /opt/mssql/bin/sqlservr &
        sleep 20
        /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'SqliPass123!' -C -i /init.sql
        wait
    networks:
      - sqli_network
    ports:
      - "1433:1433"

  oracle:
    image: gvenzl/oracle-xe:21-slim
    container_name: sqli_oracle
    environment:
      ORACLE_PASSWORD: sqli_pass123
      APP_USER: sqli_user
      APP_USER_PASSWORD: sqli_pass123
    volumes:
      - oracle_data:/opt/oracle/oradata
      - ./init/oracle.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - sqli_network
    ports:
      - "1521:1521"

networks:
  sqli_network:
    driver: bridge

volumes:
  mysql_data:
  postgresql_data:
  mssql_data:
  oracle_data:
